:root {
    --button-color: #f8f9fa;
    --footer-color: #f2f2f2;
    --main-text-color: #222;
    --search-bar-grey: #9aa0a6;
    --faint-grey: #dfe1e5;
    --light-link-color: #70757a;
    --button-text-color: #202124;
    --google-blue: #1a73e8;
    --blue-link-color: #1a0dab;
    --main-font-size: 0.9375rem;
    --page-desc-color: #4d5156;
    --hr-color: #ecedef;
}

.visual-spacer{
    grid-area: footer;
    min-height: 250px;
    width: 100%;
    background-color: wheat;
}

/* GENERAL STYLING */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    font-size: var(--main-font-size);
    font-family: "Google Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--main-text-color);
}

.material-icons-outlined {
    font-family: "Material Icons";
    font-size: 24px;
}


.more-about-link {
    height: 1.25rem;
    filter: invert(51%) sepia(7%) saturate(323%) hue-rotate(169deg) brightness(87%) contrast(90%);
}

/* PAGE WRAPPER */
.global-container {
    display: grid;
    grid-template-rows: repeat(2,auto) 1fr repeat(3,auto);
    grid-template-columns: 11.25rem 40.75rem 1fr;
    grid-template-areas: 
        "sticky-search  sticky-search  sticky-search"
        ".              search-settings    ."
        ".              search-results     ."
        ".              related-searches   ."
        ".              page-navigation    ."
        ".              footer             ."
        ;
}


/* STICKY SEARCH SECTION */
.sticky-search {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
    margin-bottom: .25rem;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    grid-area: sticky-search;
    display:grid;
    grid-template-columns: auto 43rem 1fr;
    grid-template-areas: 
        "sticky-logo    sticky-search-bar   sticky-right-links";
    align-items: center;
    z-index: 1;
}

.logo a {
    align-self:center;
}

.logo img {
    width: 6.25rem;
    grid-area: sticky-logo;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
    margin-right: 1.75rem;
    
}

/* SEARCH BAR */
.search-bar {
    grid-area: sticky-search-bar;
    border: 1px solid var(--faint-grey);
    color: var(--search-bar-grey);
    border-radius: 500px;
    padding: 0.35rem .75rem 0.35rem 0rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    box-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.15);
}

.search-bar:hover {
    box-shadow: 0 2px 0.625rem rgba(0, 0, 0, 0.25);
}

#search-bar {
    padding: 0 1rem;
    margin-left: 1rem;
    border: 0;
    font-size: var(--main-font-size);
}

#search-bar:focus {
    outline: none;
}


.search-bar-button {
    border: 0;
    background-color: transparent;
    padding: 0 0.5rem;
    vertical-align: middle;
    cursor: pointer;
}

#clear-search-bar {
    border-right: solid 2px var(--faint-grey);
    color: var(--light-link-color)
}

#magnifying-glass-icon {
    color: var(--google-blue);
}

/* WAFFLE AND PROFILE */
.sticky-right-links {
    grid-area: sticky-right-links;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.25rem;

}

.sticky-link-container {
    display: grid;
    padding: 0.375rem;
}

.sticky-link-container a img {
    vertical-align: middle;
}

#waffle-img {
    width: 1.5rem;
    height: 1.5rem;
}

#user-img {
    width:2.25rem;
    height:2.25rem;
}

.sticky-link-container:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    
}


/* SEARCH FILTER TABS SECTION */
.filters-and-stats {
    grid-area: search-settings;
    display: flex;
    flex-direction: column;
}

.search-filters {
    display: flex;
    grid-area: search-settings;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.filter-tab {
    padding-right: 1.25rem;
}

.filter-tab img {
    height: 1.25rem;
    filter: invert(51%) sepia(7%) saturate(323%) hue-rotate(169deg) brightness(87%) contrast(90%);
    margin-right: 0.5rem;
}

.search-filters a{
    text-decoration: none;
    color: var(--light-link-color);
}

.active-tab {
    color: var(--google-blue);
    position: relative;
    z-index: 0;
}
.active-tab span {
    position: relative;
}
.active-tab span::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -.75rem;
    background-color: var(--google-blue);
    width: 100%;
    height: .2rem;
}

.active-tab img {
    filter: invert(53%) sepia(97%) saturate(4983%) hue-rotate(202deg) brightness(93%) contrast(96%);
}

.tools-tab {
    justify-self: center;
    padding: 0.25rem 0.75rem;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px rgba(0,0,0,0);

}

    .tools-tab:hover {
        border: 1px solid var(--faint-grey);
        box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    }




.inline-icon {
    vertical-align: top;
    font-size: var(--main-font-size);
}

.more-tab {
    flex-grow:1;
}


.result-stats {
    color: var(--light-link-color);
    grid-area: search-settings;
    padding: 1rem;
    font-size: var(--main-font-size);
}



/* SEARCH RESULTS SECTION */
.search-results-wrapper {
    grid-area: search-results;
    padding: 0 1rem;
    display: grid;
    row-gap: 2rem;
    margin-bottom: 3rem;
}

.result {
    display: flex;
    flex-wrap: wrap;
}

/* WEB ADDRESS PORTION */
.web-address-div {
    padding-right: 1.5rem;
}

    .web-address-div span {
        vertical-align: top;
        font-size: var(--main-font-size);
    }

    .web-address-div:hover h2{
        text-decoration: underline;
    }

.web-page-link {
    display: grid;
    text-decoration: none;
}

.http-address {
    color: var(--main-text-color);
    font-style: normal;
    font-weight: normal;
}

    .http-address span {
        color: var(--page-desc-color);
    }

h2 {
    color: var(--blue-link-color);
    font-weight: normal;
}

.ad-indicator {
    color: var(--main-text-color);
    font-weight: 700;
}

.ad-link {
    text-decoration: none;
}

    .ad-link:hover h2 {
        text-decoration: underline;
    }


/* RESULT EXPANSION BUTTONS */
.more-about-link img {
    width: 100%;
    height: 1.25rem;
}

.why-this-ad img {
    height: 1.25rem;
    vertical-align: top;
}

/* PAGE DESCRIPTION PORTION */

.page-description {
    color: var(--page-desc-color);
}

/* RELATED SEARCHES PORTION */
.related-searches-wrapper {
    grid-area: related-searches;
    padding: 0 1rem;
    display: grid;
    grid-template-areas: 
        "title"
        "related-term"
        "related-images"
        "see-more"
        "alt-searches";
}

.related-searches-title {
    grid-area: title;
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--hr-color);
}

    .related-searches-title h2{
        padding-right: 1.5rem;
        color: (var(--main-text-color))
    }

.related-search-term {
    grid-area: related-term;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
}

.related-search-result-images {
    grid-area: related-images;
    display: grid;
    grid-auto-flow: column;
    column-gap: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.related-search-result-images a{
    text-decoration: none;
    color: var(--main-text-color);
}

.related-search-result-images a:hover{
    text-decoration: underline;
}

.related-search-image {
    width: 100px;
    height: 100px;
}


.see-more-related-searches {
    grid-area: see-more;
    padding-top:1rem;
    padding-bottom:1.25rem;
    display: grid;
    justify-items: center;
}

.related-searches-button {
    width: 17rem;
    height: 2.25rem;
    border-radius: 500px;
    border: 1px solid var(--faint-grey);
    background-color: white;
    font-size: var(--main-font-size);
    color: var(--blue-link-color);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "arrow      text    .";
}

.see-more-arrow {
    grid-area: arrow;
    padding-left: .75rem;
    filter: invert(10%) sepia(89%) saturate(5094%) hue-rotate(249deg) brightness(86%) contrast(122%);
    height: 1.25rem;
}

.hr-feedback {
    display:flex;
}

.fake-hr {
    flex-grow:1;
    background-color: var(--hr-color);
    height: 1px;
    align-self: center;
}

.fake-hr-inline-text {
    margin-left: 1rem;
    font-size: 0.75rem;
    color: var(--light-link-color);
}


.alternate-searches {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.alt-search {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 1rem;
    background-color: var(--hr-color);
    border-radius: 500px;
    padding: 1rem;
}

.alt-search-link {
    text-decoration: none;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.alt-search-link img {
    padding-right: 1.5rem;
    padding-left: .75rem;
    filter: invert(51%) sepia(7%) saturate(323%) hue-rotate(169deg) brightness(87%) contrast(90%);
    height: 1.25rem;
}
.alt-search-link span {
    padding-right: .75rem;
}

.alt-search-link:hover {
    text-decoration: underline;
}
.alt-search-link:visited {
    color: var(--main-text-color);
}













/* FOOTER BAR */
footer {
    background-color: var(--footer-color);
    padding: 1.25rem 1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

footer a {
    text-decoration: none;
    color: var(--light-link-color);
    display: block;
    padding: 1rem;
}

/* MEDIA QUERIES */
